@use 'base/mixins' as m;
@use 'base/variables' as v;

.experiencias {
  &__listado {
    @include m.scrollHorizontal(30rem, 2rem);

    @include m.tablet {
      @include m.grid(3, 2rem);
      overflow: hidden;
    }
  }
}

.experiencia {
  &__imagen {
    border-radius: 1rem;
  }

  &__titulo {
    font-size: 2rem;
    font-weight: 700;
  }

  &__descripcion {
    font-size: 1.8rem;
  }
}
